@media (min-width: 900px) {

body {
  font-family: sans-serif;
  padding-right: 25px;
  padding-top: 43px;
  height: 1000px;
  background-color: rgb(240, 242, 245);
  padding-left: 380px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

}

@media (max-width: 899px) {
  body {
    font-family: sans-serif;
    padding-right: 25px;
    height: 500px;
    background-color: rgb(240, 242, 245);
    padding-left: 5px;
  }
  
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}