@media (min-width: 1810px) {

.item-flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 5px;
}

}

@media (min-width: 1650px ) and (max-width: 1809px) {

  .item-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }
}

@media (min-width: 1400px) and (max-width: 1649px) {

  .item-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }
}

@media (min-width: 1130px) and (max-width: 1399px) {

  .item-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }
}

@media (min-width: 980px) and (max-width: 1129px) {

  .item-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }
}

@media (min-width: 900px) and (max-width: 979px) {

  .item-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }
}

@media (min-width: 700px) and (max-width: 899px) {

  .item-flexbox {
    position: absolute;
    top: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }
}

@media (max-width: 699px) {

  .item-flexbox {
    position: absolute;
    top: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }
}

.for-sale-preview {
  flex: 1;
  /* min-width: 247px;
  min-height: 355px;
  max-width: 321px;
  max-height: 429px; */
  padding: 0 4px;
}

.sale-image-container {
  display: block;
}

.sale-info-container {
  line-height: 22px;
  margin-top: 5px;
}

.sale-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.price {
  font-weight: bold;
}

.description {
  font-size: 15px;
  line-height: 18px;
}

.location,
.mileage {
  color: rgb(101, 103, 107);
  font-size: 13px;
}